server:
  port: 8070
spring:
  application:
    name: shortener
  datasource:
    url: jdbc:postgresql://localhost:5432/shortenerdb
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true