server:
  port: 8060
spring:
  application:
    name: shortener
  datasource:
    url: jdbc:postgresql://localhost:5432/shortenerdb
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

security:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 15
